<mat-drawer-container class="drawer-container">
  <ng-container *ngIf="user.isConnected">
    <integration-toolbar></integration-toolbar>
  </ng-container>
  <div class="integration-wrapper" [ngClass]="{ 'mt-8': user.isConnected }">
    <integration-header [user]="user" [sync]="sync" [expanded]="expanded" (connectClicked)="connect()"
      (disconnectClicked)="disconnect()">
    </integration-header>
    <div class="content">
      <!-- <integration-loader></integration-loader> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Drawer instance -->
  <mat-drawer #drawer mode="over" position="end" class="filter-drawer">
    <integration-faceted-filter></integration-faceted-filter>
  </mat-drawer>
</mat-drawer-container>