.header-section {
  .panel {
    border-radius: 4px;
    overflow: hidden;
  }

  .header-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    margin: 0 16px;
    .meta {
      display: flex;
      align-items: center;
      gap: 16px;

      .logo {
        height: 30px;
      }

      .status-icon {
        color: #4caf50;
      }
    }

    .nav-links {
      display: flex;
      gap: 16px;
    }
    
    .nav-links a {
      text-decoration: none;
      color: #1976d2;
      font-weight: 500;
      cursor: pointer;
      transition: color 0.2s ease;
    }
    
    .nav-links a:hover,
    .nav-links a.active {
      color: #07192d;
    }
    
  }

  .auth-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;

    .disconnect-btn {
      display: inline-flex;
      align-items: center;
      gap: 4px;

      .remove-icon {
        font-size: 18px;
      }
    }

    .sync {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.info-sx {
      display: none;
    }

    .connect {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 2rem 1rem;
      width: 100%;

      .connect-title {
        margin-top: 1rem;
        color: #1a237e;
      }

      .error {
        color: #f44336;
      }
    }

    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 100%;

      .loader-text {
        margin-top: 0.5rem;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .user-info-section {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .user-info {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    .info-line {
      line-height: 1.4;
    }
    &.lg {
      display: flex;
    }
    &.sx {
      display: none;
    }
  }

  .sync-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  .spinner-icon {
    animation: spin 1.2s linear infinite;
    margin-right: 8px;
    color: #3f51b5;
  }
}

.search-box.sx {
  display: none;
}



::ng-deep .panel .mat-expansion-panel-header {
  height: 75px;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .header-top {
    margin: 0!important;
  }
  .user-info.lg {
    display: none !important;
  }
  .user-info-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
    .sync.sx {
      display: none;
    }
  }
  .user-info.sx {
    display: flex !important;
    flex-direction: column !important;
    gap: 8px !important;
  }

  .search-box.sx {
    display: flex !important;
    integration-search-box {
      width: 100%;
      background-color: #fff;
    }
  }
}

::ng-deep .mat-expansion-panel-header:hover {
  background-color: transparent !important;
}



