.search-result-container {
  padding: 16px;
  min-height: calc(100vh - 330px);
  .page-title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    color: #222;
  }

  .search-summary {
    margin-bottom: 20px;
    font-size: 16px;
    color: #444;

    strong {
      font-weight: 600;
    }
  }

  .mat-tab-group {
    margin-bottom: 16px;
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: calc(100vh - 300px) !important;
    .grid {
      width: 100%;
      height: calc(100vh - 375px);
      max-height: 940px;
      overflow: hidden;
    }
  }

  .no-results {
    margin-top: 20px;
    color: #888;
    font-style: italic;
    font-size: 15px;
  }
}
