<div class="integration-container">
  <div class="table-header-filters">
    <div class="filter-group-left">
      <div class="filter-item">
        <label class="filter-label">Active Integrations:</label>
        <mat-form-field appearance="outline" class="filter-field">
          <mat-select [(ngModel)]="selectedIntegration" (selectionChange)="onIntegrationChange()">
            <mat-option *ngFor="let integration of integrations" [value]="integration">
              {{ integration }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="filter-item">
        <label class="filter-label">Entity:</label>
        <mat-form-field appearance="outline" class="filter-field">
          <mat-select [(ngModel)]="selectedEntity" (selectionChange)="onEntityChange()">
            <mat-option *ngFor="let entity of entities" [value]="entity">
              {{ entity }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="filter-group-right">
      <div class="filter-item">
        <label class="filter-label">Search:</label>
        <mat-form-field appearance="outline" class="filter-field">
          <input matInput [ngModel]="searchText" (ngModelChange)="onSearchInput($event)" placeholder="" />
          <button matSuffix mat-icon-button disableRipple>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>


  <div class="grid-container">
    <ag-grid-angular class="ag-theme-alpine grid" [theme]="'legacy'" style="width: 100%;" [rowData]="rowData"
      [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [domLayout]="'normal'" [animateRows]="true">
    </ag-grid-angular>
    <div class="pagination-controls" >
      <div style="display: flex; align-items: center; gap: 16px;">
        <span class="record-range">
          {{
          ((currentPage - 1) * pageSize) + 1
          }}-{{
          currentPage * pageSize > totalRecords ? totalRecords : currentPage * pageSize
          }} of {{ totalRecords }} records
        </span>
        <button mat-button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
          Previous
        </button>

        <span>Page {{ currentPage }} of {{ totalPages }}</span>

        <button mat-button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
          Next
        </button>
      </div>
    </div>
  </div>

</div>
